.container{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
margin-top: 3rem;
}
.container :hover{
  color:black;
}

.details{
  width: 28rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-list{
  color: rgb(255, 50, 50);
}

.register{
  display: flex;
  justify-content: center;
  align-items: center;
}
.register :hover{
  color:black;
}
