.container{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #919290ea;
  z-index: 10000;
  top: 0;
  left: 0;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  color: rgb(0, 149, 119);
}

img{
  color:  rgb(239, 77, 77);
  border-bottom: 10px solid rgb(219, 61, 61);
  width: 200px;
  height: 200px;
}

h1{
color: rgb(235, 86, 86);
text-transform: lowercase;
}

